<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Kit" version="2.0.53" targetFramework="net471" />
  <package id="Docnet.Core" version="2.4.0-alpha.4" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Polly" version="7.2.1" targetFramework="net461" />
  <package id="SautinSoft.PdfVision" version="2023.7.4" targetFramework="net471" />
  <package id="Select.Pdf" version="22.1.0" targetFramework="net471" />
  <package id="Spire.PDF" version="9.8.5" targetFramework="net471" />
  <package id="Syncfusion.Compression.Base" version="22.2.8" targetFramework="net471" />
  <package id="Syncfusion.DocIO.WinForms" version="22.2.8" targetFramework="net471" />
  <package id="Syncfusion.DocToPDFConverter.WinForms" version="22.2.8" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="22.2.8" targetFramework="net471" />
  <package id="Syncfusion.OfficeChart.Base" version="22.2.8" targetFramework="net471" />
  <package id="Syncfusion.Pdf.WinForms" version="22.2.8" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>